body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none; /* Удаляем маркеры списка */
    padding: 0;
}

li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #f9f9f9; /* Светлый фон для элементов списка */
}

strong {
    color: #007bff; /* Цвет для заголовка результата */
}

p {
    margin-bottom: 10px; /* Отступы для абзацев */
}

@media (max-width: 600px) {
    .container {
        width: 90%; /* Адаптивная ширина для мобильных устройств */
    }
}
